<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.FileMapper">

	<select id="selectFilesAllForGrup" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			A.FILE_ID, -- 파일_순번
			A.FILE_GRP_ID, -- 파일_그룹
			A.FILE_NM, -- 파일_명
			A.FILE_PATH, -- 파일_경로
			A.FILE_EXTSN, -- 파일 확장자
			A.FILE_MG, -- 파일 사이즈
			A.SORT_ORDR -- 정렬_순서
		FROM TB_FILE_GRP B
			INNER JOIn TB_FILE A
				ON A.FILE_GRP_ID = B.FILE_GRP_ID
		WHERE B.FILE_GRP_ID=#{fileGrpId} -- 파일_그룹
		ORDER BY A.SORT_ORDR ASC
	</select>
	
	<select id="selectFile" parameterType="java.lang.String" resultType="java.util.Map">
	    SELECT
			A.FILE_ID, 
			A.FILE_GRP_ID, 
			A.FILE_NM, 
			A.FILE_PATH,
			A.SORT_ORDR,
			A.FILE_EXTSN,
			A.FILE_MG
		FROM TB_FILE A
		WHERE A.FILE_ID=#{fileId} -- 파일_순번
	</select>
	
	<insert id="insertFileGroup" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="file_grp_id" keyProperty="fileGrpId">
	    	INSERT INTO TB_FILE_GRP 
			(
				REG_ID,
				REG_DT,
				UPDT_ID,
				UPDT_DT
			)
			VALUES
			(
				#{_SESSION_USER_CD_}, -- 입력사용자
				NOW(), -- 입력일자
				#{_SESSION_USER_CD_}, -- 변경사용자
				NOW() -- 변경일자
			)
	</insert>
	
	<insert id="insertFile" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="file_id"  keyProperty="fileId">
	    	INSERT INTO TB_FILE 
			(
				FILE_GRP_ID, -- 파일_그룹
				FILE_NM, -- 파일_명
				ORGN_FILE_NM, -- 원본 파일 명
				FILE_EXTSN, -- 확장자
				FILE_MG, -- 파일 사이즈
				FILE_PATH,
				USE_AT,
				SORT_ORDR,
				REG_ID,
				REG_DT,
				UPDT_ID,
				UPDT_DT
			)
			VALUES
			(
				#{fileGrpId}, -- 파일_그룹
				#{fileNm}, -- 파일_명
				#{orgnFileNm}, -- 원본 파일 명
				#{fileExtsn}, -- 확장 자
				#{fileMg}, -- 파일 사이즈
				#{filePath},
				#{useAt},
				(SELECT COUNT(1) + 1 FROM TB_FILE WHERE FILE_GRP_ID = #{fileGrpId}),
				#{_SESSION_USER_CD_},
				NOW(),
				#{_SESSION_USER_CD_},
				NOW()
			)
	</insert>
	
	<delete id="deleteFile" parameterType="java.util.Map">
	    	DELETE FROM TB_FILE 
			WHERE FILE_ID=#{fileId} -- 파일_순번
	</delete>
</mapper>