@charset "UTF-8";

.img-profile-s{
	width:50px;
	height:50px;
}
.img-preview {
	width:100%;
	height:100%;
}

.bg-warning {
  background-color: #f6d861 !important;
}

.btn-warning {
  color: #212529;
  background-color: #f6d861;
  border-color: #f6d861;
}

#navbar-toggler-checkbox {
	display: none;
}

#navbar-toggler-checkbox:checked ~ .navbar-collapse {
	display: block;
	flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.icon-navbar-nav a{ 
	display: inline-block;
    background-size: 100% 100%;
    width: 6em;
    height: 6em;
    vertical-align: middle;
    content: "";
    margin-left: 12%;
    filter :brightness(0) invert(1);
}
.icon-navbar-nav .nav-link.active {
	filter :invert(70%) grayscale(100%);
}
.icon-navbar-nav a:nth-child(1){ background-image: url("../image/habitat_icon.png"); }
.icon-navbar-nav a:nth-child(2){ background-image: url("../image/house_home_icon.png"); }
.icon-navbar-nav a:nth-child(3){ background-image: url("../image/cat_animal_icon.png"); }
.icon-navbar-nav a:nth-child(4){ background-image: url("../image/menu_icon.png"); }

/* 모바일 etc 메뉴 */

.etc-nav.list-group-item {
	text-align: center;
	line-height: 120px;
	height: 150px;
	font-size : 60px;
	margin-top: 40px;
}

/* 서식지 관리, 고양이 관리 - 사이드바 메뉴 */
.manage-sidenav {
	height:100%;
	width: 200px;
	position: fixed;
	z-index: 2000;
	top: 0;
	background-color: #e2e2e2;
	overflow: hidden;
	transition:0.2s ease-in-out;
	padding-top: 60px;
    left: -150px;
}
.manage-sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.2s ease-in-out;
}
.manage-navbar-toggler {
    padding: 0.25rem 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
   	float: right;
}
.manage-navbar-toggler-icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.manage-navbar-nav {	
    overflow-y: auto;
    height: inherit;
    width: inherit;
}
.manage-navbar-nav{
   /* -ms-overflow-style: none;
 */}
.manage-navbar-nav::-webkit-scrollbar{
/*   display:none; */
}

.accordion-body{
	display:none;
}
.accordion-body.show{
	display: revert;
}

@media all and (min-device-width:576px) {
	#manage-navbar-toggler-checkbox:checked + .manage-sidenav {
	    left: 0px;
	}
}

/* 미디어쿼리 적용 */
@media all and (max-device-width:575.99px) {
	.manage-sidenav {
		left: -79%;
		width: 90%;
		padding-top: 10px;
	}
	.manage-navbar-toggler-icon {
		width: 5em;
		height: 5em;
	}
	.manage-sidenav a {
		font-size: 60px;
		padding: 35px 32px 35px 32px;
	}
	#manage-navbar-toggler-checkbox:checked + .manage-sidenav {
	    left: 0px;
	}
	#manage-navbar-toggler-checkbox:checked + .manage-sidenav>manage-navbar-nav {
	    display: none;
	}
}