<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.cat.CatGroupMapper">

<!-- ** 고양이 상세 프로필 조회 ** -->

	<!-- 고양이 그룹 멤버 정보 조회 -->
	<select id="selectCatGroupMemberList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT G.CAT_CD
				, G.REG_DT
				, FN_GET_AREA_NAME(C.SIDO_CD) || ' ' ||
					FN_GET_AREA_NAME(C.SIGUNGU_CD) || ' ' || 
					FN_GET_AREA_NAME(C.DONG_CD)                     AS AREA_NM
				, FN_GET_CODE_NAME('C0003', P.CATKIND_CD) 			AS CAT_KIND_NM
				, F.FILE_PATH
				, N.CAT_NAME
		FROM TB_CAT_GRP_INFO G
			LEFT JOIN TB_CAT C 
				ON G.CAT_CD  = C.CAT_CD
			LEFT JOIN TB_CAT_PROFILE P 
				ON G.CAT_CD  = P.CAT_CD
			LEFT JOIN TB_FILE F
				ON P.FILE_GRP_ID = F.FILE_GRP_ID
			LEFT JOIN TB_CAT_NAME N
				ON G.CAT_CD = N.CAT_CD
					AND N.USER_CD = #{_SESSION_USER_CD_}
		WHERE G.CAT_GRP_CD = #{target_cd}
	</select>
	
		<!-- 고양이 그룹 정보 조회 -->
	<select id="selectCatGroupList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT G.CAT_GRP_CD										AS CAT_CD
				, G.REG_DT
				, FN_GET_AREA_NAME(C.SIDO_CD) || ' ' ||
					FN_GET_AREA_NAME(C.SIGUNGU_CD) || ' ' || 
					FN_GET_AREA_NAME(C.DONG_CD)                     AS AREA_NM
				, F.FILE_PATH
				, N.CAT_NAME
		FROM TB_CAT_GRP_INFO G
			LEFT JOIN TB_CAT C 
				ON G.CAT_CD  = C.CAT_CD
			LEFT JOIN TB_CAT_GRP_PROFILE P 
				ON G.CAT_CD  = P.CAT_CD
			LEFT JOIN TB_FILE F
				ON P.FILE_GRP_ID = F.FILE_GRP_ID
			LEFT JOIN TB_CAT_NAME N
				ON G.CAT_GRP_CD = N.CAT_CD
					AND N.USER_CD = #{_SESSION_USER_CD_}
		WHERE G.CAT_CD = #{target_cd}
	</select>
	
	<!-- 고양이 그룹 멤버 등록 -->
	<insert id="insertCatGroupMember" parameterType="java.util.Map" >
		insert into TB_CAT_GRP_INFO
		(
			cat_grp_cd
			, cat_cd
			, REG_ID
			, REG_DT
			, UPDT_ID
			, UPDT_DT
		)
		VALUES 
		(
			#{target_cd}
			, #{cat_cd}
			, #{_SESSION_USER_CD_} -- 입력사용자
			, NOW() -- 입력일자
			, #{_SESSION_USER_CD_} -- 변경사용자
			, NOW() -- 변경일자
		)
	</insert>
	
	<!-- 고양이 그룹 등록 -->
	<insert id="insertCatGroup" parameterType="java.util.Map" >
		INSERT INTO TB_CAT_GRP_INFO 
		(
			CAT_GRP_CD
			, CAT_CD
			, REG_ID
			, REG_DT
			, UPDT_ID
			, UPDT_DT
		)
		VALUES 
		(
			#{cat_cd}
			, #{target_cd}
			, #{_SESSION_USER_CD_} -- 입력사용자
			, NOW() -- 입력일자
			, #{_SESSION_USER_CD_} -- 변경사용자
			, NOW() -- 변경일자
		)
	</insert>
	
	<!-- 고양이 그룹 삭제 -->
	<delete id="deleteCatGroup" parameterType="java.util.Map">
		DELETE FROM TB_CAT_GRP_INFO C
		WHERE C.CAT_CD = #{target_cd}
			AND C.CAT_GRP_CD IN
		<foreach item="item" index="index" collection="deleteList" open="(" separator="," close=")">
			 #{item.cat_cd}
		</foreach>
	</delete>
	
	<!-- 고양이 그룹 멤버 삭제 -->
	<delete id="deleteCatGroupMember" parameterType="java.util.Map">
		DELETE FROM TB_CAT_GRP_INFO C
		WHERE C.CAT_GRP_CD = #{target_cd}
			AND C.CAT_CD IN
		<foreach item="item" index="index" collection="deleteList" open="(" separator="," close=")">
			 #{item.cat_cd}
		</foreach>
	</delete>
</mapper>