<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.manage.CatMapper">
<!-- 서식지 관리 페이지 -->

	<!-- 서식지 목록 조회 -->
	<select id="selectCatList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT C.CAT_CD  
			, C.GROUP_YN
			, N.CAT_NAME
			, COALESCE(FN_GET_CODE_NAME('C0003', P.CATKIND_CD), '무리')		AS CAT_KIND_NM
			, COALESCE(FN_GET_AREA_NAME(C.SIDO_CD), '') 		|| ' ' ||
				COALESCE(FN_GET_AREA_NAME(C.SIGUNGU_CD), '') 	|| ' ' || 
				COALESCE(FN_GET_AREA_NAME(C.DONG_CD), '')        			AS AREA_NM
			, F.FILE_PATH 
		FROM TB_CAT C
			LEFT JOIN TB_CAT_PROFILE P
				ON C.CAT_CD = P.CAT_CD
			LEFT JOIN TB_CAT_GRP_PROFILE G
				ON C.CAT_CD = G.CAT_CD 
			LEFT JOIN TB_FILE F 
				ON (P.FILE_GRP_ID = F.FILE_GRP_ID OR G.FILE_GRP_ID = F.FILE_GRP_ID )
			LEFT JOIN TB_CAT_NAME N
				ON (C.CAT_CD = N.CAT_CD AND N.USER_CD = 1)
		<where>
			<if test="sido_cd != null and !sido_cd.equals('')">
				C.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				AND C.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				AND C.DONG_CD = #{dong_cd}
			</if>
			<if test="cat_cd != null and !cat_cd.equals('')">
				AND C.CAT_CD = #{cat_cd}
			</if>
			<if test="group_yn != null and !group_yn.equals('')">
				AND C.GROUP_YN = #{group_yn}
			</if>
			<if test="cat_name != null and !cat_name.equals('')">
				AND N.CAT_NAME  like '%'|| #{cat_name} ||'%'
			</if>
			<if test="habitat_cd != null and !habitat_cd.equals('')">
				AND (	SELECT COUNT(*) 
						FROM TB_HABITAT_INFO I 
						WHERE I.HABITAT_CD = #{habitat_cd} 
						AND I.CAT_CD = C.CAT_CD
					) > 0
			</if>
		</where>
		ORDER BY C.CAT_CD DESC
	</select>

	<select id="selectHabitatByCd" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT H.HABITAT_CD 
				, H.HABITAT_NM
				, H.ADDRESS
				, H.SIDO_CD
				, H.SIGUNGU_CD
				, H.DONG_CD
				, FN_GET_AREA_NAME(H.SIDO_CD) || ' ' ||
					FN_GET_AREA_NAME(H.SIGUNGU_CD) || ' ' || 
					FN_GET_AREA_NAME(H.DONG_CD)                     AS AREA_NM
				, H.ADDRESS
				, H.LAT
				, H.LNG
				, H.FILE_GRP_ID
				, H.USER_CD
				, H.REG_DT
				, F.FILE_PATH 
		FROM TB_HABITAT H
			LEFT JOIN TB_FILE F 
				ON H.FILE_GRP_ID = F.FILE_GRP_ID
		WHERE H.HABITAT_CD = #{habitat_cd}
	</select>
	
	<insert id="insertHabitat" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="habitat_cd" keyProperty="habitat_cd">
	    	INSERT INTO TB_HABITAT
			(
				SIDO_CD
				, SIGUNGU_CD
				, DONG_CD
				, ADDRESS
				, HABITAT_NM
				, LAT
				, LNG
				<if test="file_grp_id != null and !file_grp_id.equals('')">
				, FILE_GRP_ID
				</if>
				, USER_CD
				, REG_ID
				, REG_DT
				, UPDT_ID
				, UPDT_DT
			)
			VALUES
			(
				#{sido_cd}
				, #{sigungu_cd}
				, #{dong_cd}
				, #{address}
				, #{habitat_nm}
				, #{lat}
				, #{lng}
				<if test="file_grp_id != null and !file_grp_id.equals('')">
				, #{file_grp_id}
				</if>
				, #{_SESSION_USER_CD_} -- 입력사용자
				, #{_SESSION_USER_CD_} -- 입력사용자
				, NOW() -- 입력일자
				, #{_SESSION_USER_CD_} -- 변경사용자
				, NOW() -- 변경일자
			)
	</insert>
	
	<update id="updateHabitat" parameterType="java.util.Map">
	    	UPDATE TB_HABITAT
			SET SIDO_CD = #{sido_cd}
				, SIGUNGU_CD = #{sigungu_cd}
				, DONG_CD = #{dong_cd}
				, ADDRESS = #{address}
				, HABITAT_NM = #{habitat_nm}
				, LAT = #{lat}
				, LNG = #{lng}
				, UPDT_ID = #{_SESSION_USER_CD_}
				, UPDT_DT = NOW()
			WHERE HABITAT_CD = #{habitat_cd}
	</update>
	
	<delete id="deleteHabitat" parameterType="java.util.Map">
	    	DELETE FROM TB_HABITAT
			WHERE HABITAT_CD = #{habitat_cd}
	</delete>
</mapper>