<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.manage.HabitatMapper">
<!-- 서식지 관리 페이지 -->

	<!-- 서식지 목록 조회 -->
	<select id="selectHabitatList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT H.HABITAT_CD 
				, H.HABITAT_NM
				, COALESCE(FN_GET_AREA_NAME(H.SIDO_CD), '') 		|| ' ' ||
					COALESCE(FN_GET_AREA_NAME(H.SIGUNGU_CD), '') 	|| ' ' || 
					COALESCE(FN_GET_AREA_NAME(H.DONG_CD), '')        AS AREA_NM
				, H.ADDRESS
				, H.SIDO_CD
				, H.SIGUNGU_CD
				, H.DONG_CD
				, H.ADDRESS
				, H.HABITAT_NM
				, H.LAT
				, H.LNG
				, H.USER_CD
				, F.FILE_PATH 
		FROM TB_HABITAT H 
			LEFT JOIN TB_FILE F 
				ON H.FILE_GRP_ID = F.FILE_GRP_ID
		<where>
			<if test="sido_cd != null and !sido_cd.equals('')">
				H.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				AND H.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				AND H.DONG_CD = #{dong_cd}
			</if>
			<if test="habitat_cd != null and !habitat_cd.equals('')">
				AND H.HABITAT_CD = #{habitat_cd}
			</if>
			<if test="habitat_nm != null and !habitat_nm.equals('')">
				AND H.HABITAT_NM like '%'|| #{habitat_nm} ||'%'
			</if>
			<if test="cat_cd != null and !cat_cd.equals('')">
				AND (	SELECT COUNT(*) 
						FROM TB_HABITAT_INFO I 
						WHERE I.HABITAT_CD = H.HABITAT_CD 
						AND I.CAT_CD = #{cat_cd}
					) > 0
			</if>
		</where>
		ORDER BY H.HABITAT_CD DESC
	</select>

	<select id="selectHabitatByCd" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT H.HABITAT_CD 
				, MAX(H.HABITAT_NM)									AS HABITAT_NM
				, MAX(H.ADDRESS)                                    AS ADDRESS
				, MAX(H.SIDO_CD)                                    AS SIDO_CD
				, MAX(H.SIGUNGU_CD)                                 AS SIGUNGU_CD
				, MAX(H.DONG_CD)                                    AS DONG_CD
				, MAX(FN_GET_AREA_NAME(H.SIDO_CD) || ' ' ||         
					FN_GET_AREA_NAME(H.SIGUNGU_CD) || ' ' ||        
					FN_GET_AREA_NAME(H.DONG_CD))                    AS AREA_NM
				, MAX(H.ADDRESS)                                    AS ADDRESS
				, MAX(H.LAT)                                        AS LAT
				, MAX(H.LNG)                                        AS LNG
				, MAX(H.FILE_GRP_ID)                                AS FILE_GRP_ID
				, MAX(H.USER_CD)                                    AS USER_CD
				, MAX(H.REG_DT)                                     AS REG_DT
				, MAX(F.FILE_PATH)                                  AS FILE_PATH
				, COUNT(TCR.TARGET_CD)								AS CARE_YN
				, COUNT(TBM.TARGET_CD)								AS BOOKMARK_YN	
		FROM TB_HABITAT H
			LEFT JOIN TB_FILE F 
				ON H.FILE_GRP_ID = F.FILE_GRP_ID
			LEFT JOIN TB_CARE TCR 
				ON H.HABITAT_CD = TCR.TARGET_CD
				AND TCR.TARGET_TYPE = 'habitat' 
				AND TCR.USER_CD = #{_SESSION_USER_CD_}
			LEFT JOIN TB_BOOKMARK TBM 
				ON H.HABITAT_CD = TBM.TARGET_CD
				AND TBM.TARGET_TYPE = 'habitat' 
				AND TBM.USER_CD = #{_SESSION_USER_CD_}
		WHERE H.HABITAT_CD = #{habitat_cd}
		GROUP BY H.HABITAT_CD
	</select>
	
	<!-- 서식지에 소속된 고양이 수 -->
	<select id="selectHabitatMemberCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM TB_HABITAT_INFO G
		WHERE G.HABITAT_CD = #{habitat_cd}
	</select>
	
	<insert id="insertHabitat" parameterType="java.util.Map" useGeneratedKeys="true" keyColumn="habitat_cd" keyProperty="habitat_cd">
	    	INSERT INTO TB_HABITAT
			(
				SIDO_CD
				, SIGUNGU_CD
				, DONG_CD
				, ADDRESS
				, HABITAT_NM
				, LAT
				, LNG
				<if test="file_grp_id != null and !file_grp_id.equals('')">
				, FILE_GRP_ID
				</if>
				, USER_CD
				, REG_ID
				, REG_DT
				, UPDT_ID
				, UPDT_DT
			)
			VALUES
			(
				#{sido_cd}
				, #{sigungu_cd}
				, #{dong_cd}
				, #{address}
				, #{habitat_nm}
				, #{lat}
				, #{lng}
				<if test="file_grp_id != null and !file_grp_id.equals('')">
				, #{file_grp_id}
				</if>
				, #{_SESSION_USER_CD_} -- 입력사용자
				, #{_SESSION_USER_CD_} -- 입력사용자
				, NOW() -- 입력일자
				, #{_SESSION_USER_CD_} -- 변경사용자
				, NOW() -- 변경일자
			)
	</insert>
	
	<update id="updateHabitat" parameterType="java.util.Map">
	    	UPDATE TB_HABITAT
			SET SIDO_CD = #{sido_cd}
				, SIGUNGU_CD = #{sigungu_cd}
				, DONG_CD = #{dong_cd}
				, ADDRESS = #{address}
				, HABITAT_NM = #{habitat_nm}
				, LAT = #{lat}
				, LNG = #{lng}
				, UPDT_ID = #{_SESSION_USER_CD_}
				, UPDT_DT = NOW()
			WHERE HABITAT_CD = #{habitat_cd}
	</update>
	
	<delete id="deleteHabitat" parameterType="java.util.Map">
	    	DELETE FROM TB_HABITAT
			WHERE HABITAT_CD = #{habitat_cd}
	</delete>
</mapper>