<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.user.UserCareMapper">

<!-- ** 사용자 돌봄 목록  조회 ** -->

	<!-- 사용자 고양이 돌봄 목록  조회 -->
	<select id="selectUserCatCareList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT C.CAT_CD
			, C.GROUP_YN
			, COALESCE(FN_GET_AREA_NAME(C.SIDO_CD), '') 		|| ' ' ||
				COALESCE(FN_GET_AREA_NAME(C.SIGUNGU_CD), '') 	|| ' ' || 
				COALESCE(FN_GET_AREA_NAME(C.DONG_CD), '')                   AS AREA_NM
			, FN_GET_CODE_NAME('C0003', P.CATKIND_CD) 						AS CAT_KIND_NM
			, F.FILE_PATH
			, N.CAT_NAME
			, R.REG_DT
		FROM TB_CARE R
			JOIN TB_CAT C
			<choose>
				<when test='group_yn != null and group_yn.equals("N")'>
					ON R.TARGET_TYPE = 'cat'	
				</when>
				<when test='group_yn != null and group_yn.equals("Y")'>
					ON R.TARGET_TYPE = 'grp'
				</when>
			</choose>
				AND R.TARGET_CD = C.CAT_CD 
			LEFT JOIN TB_CAT_PROFILE P 
				ON C.CAT_CD  = P.CAT_CD
			LEFT JOIN TB_FILE F
				ON P.FILE_GRP_ID = F.FILE_GRP_ID
			LEFT JOIN TB_CAT_NAME N
				ON C.CAT_CD = N.CAT_CD
					AND N.USER_CD = #{user_cd}
		<where>
			R.USER_CD = #{user_cd}
			<if test="group_yn != null and !group_yn.equals('')">
				and C.GROUP_YN = #{group_yn}
			</if>
			<if test="sido_cd != null and !sido_cd.equals('')">
				AND C.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				AND C.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				AND C.DONG_CD = #{dong_cd}
			</if>
			<if test="cat_cd != null and !cat_cd.equals('')">
				AND C.CAT_CD = #{cat_cd}
			</if>
			<if test="cat_name != null and !cat_name.equals('')">
				AND N.CAT_NAME like '%'|| #{cat_name} ||'%'
			</if>
		</where>
			ORDER BY R.REG_DT DESC
	</select>
	
	<!-- 사용자 서식지 돌봄 목록  조회  -->
	<select id="selectUserHabitatCareList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT H.HABITAT_CD 
				, H.HABITAT_NM
				, FN_GET_AREA_NAME(H.SIDO_CD) || ' ' ||
					FN_GET_AREA_NAME(H.SIGUNGU_CD) || ' ' || 
					FN_GET_AREA_NAME(H.DONG_CD)                     AS AREA_NM
				, H.ADDRESS
				, F.FILE_PATH
				, R.REG_DT 
		FROM TB_CARE R
			JOIN TB_HABITAT H
				ON R.TARGET_CD = H.HABITAT_CD 
			LEFT JOIN TB_FILE F 
				ON H.FILE_GRP_ID = F.FILE_GRP_ID
		<where>
			R.user_cd = #{user_cd}
			<if test="sido_cd != null and !sido_cd.equals('')">
				AND H.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				AND H.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				AND H.DONG_CD = #{dong_cd}
			</if>
			<if test="habitat_cd != null and !habitat_cd.equals('')">
				AND H.HABITAT_CD = #{habitat_cd}
			</if>
			<if test="habitat_nm != null and !habitat_nm.equals('')">
				AND H.HABITAT_NM like '%'|| #{habitat_nm} ||'%'
			</if>
		</where>
		ORDER BY R.REG_DT DESC
	</select>
	
</mapper>