<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ccs.cmn.mapper.CmnMapper">

	<!-- 공통 코드 조회 -->
	<select id="selectCmnCodeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT C.CMMN_CD as value
			, C.CMMN_CD_NM as name
			, C.PRNT_CD as prntCode
		FROM TB_CMNCODE C
		<where>
			<if test="code!=null and !code.equals('')">
				AND C.CMMN_GRP_CD  = #{code}
			</if>
			<if test="prntCode!=null and !prntCode.equals('')">
				AND C.PRNT_CD = #{prntCode}		
			</if>
			<if test="exceptCode!=null and !exceptCode.equals('')">
				AND D.CMMN_CD != #{exceptCode}
			</if>		
		</where>
		ORDER BY C.CMMN_CD_SEQ ASC
	</select>
	
		<!-- 지역 코드 조회 -->
	<select id="selectAreaCodeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT C.AREA_CD as value
			, C.AREA_NM as name
			, C.AREA_UPPER_CD as prntCode
		FROM TB_AREA C
		<where>			
			<if test="code!=null and !code.equals('')">
				AND C.AREA_GRP_CD = #{code}
			</if>
			<if test="prntCode!=null and !prntCode.equals('')">
				AND C.AREA_UPPER_CD = #{prntCode}		
			</if>
		</where>
		ORDER BY C.AREA_CD_SEQ ASC
	</select>
	
	
	<!-- 고양이 지역 조회 -->
	<select id="selectCatArea" parameterType="java.lang.Long" resultType="java.util.Map">
		SELECT  C.SIDO_CD
				, C.SIGUNGU_CD
				, C.DONG_CD
				, fn_get_area_name(C.SIDO_CD)			AS SIDO_NM
				, fn_get_area_name(C.SIGUNGU_CD)        AS SIGUNGU_NM
				, fn_get_area_name(C.DONG_CD)           AS DONG_NM
		FROM TB_CAT C
		WHERE C.CAT_CD = #{target_cd}
	</select>
	
	<!-- 고양이 무리 여부 조회 -->
	<select id="selectCatGroupYn" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT  C.GROUP_YN
		FROM TB_CAT C
		WHERE C.CAT_CD = #{item}
	</select>
	
	<!-- 고양이 검색  -->
	<select id="selectSearchCatList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT C.CAT_CD
			, FN_GET_AREA_NAME(C.SIDO_CD) || ' ' ||
				FN_GET_AREA_NAME(C.SIGUNGU_CD) || ' ' || 
				FN_GET_AREA_NAME(C.DONG_CD)                     AS AREA_NM
			, FN_GET_CODE_NAME('C0003', P.CATKIND_CD) 			AS CAT_KIND_NM
			, F.FILE_PATH
			, N.CAT_NAME
		FROM TB_CAT C 
			LEFT JOIN TB_CAT_PROFILE P 
				ON C.CAT_CD  = P.CAT_CD
			LEFT JOIN TB_FILE F
				ON P.FILE_GRP_ID = F.FILE_GRP_ID
			LEFT JOIN TB_CAT_NAME N
				ON C.CAT_CD = N.CAT_CD
					AND N.USER_CD = #{_SESSION_USER_CD_}
		<where>
			C.GROUP_YN = #{group_yn}
			<if test="sido_cd != null and !sido_cd.equals('')">
				AND C.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				AND C.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				AND C.DONG_CD = #{dong_cd}
			</if>
			<if test="cat_cd != null and !cat_cd.equals('')">
				AND C.CAT_CD = #{cat_cd}
			</if>
			<if test="cat_name != null and !cat_name.equals('')">
				AND N.CAT_NAME like '%'|| #{cat_name} ||'%'
			</if>
		</where>
		ORDER BY C.CAT_CD DESC
	</select>
	
		<!-- 고양이 검색  -->
	<select id="selectSearchHabitatList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT H.HABITAT_CD 
			, H.HABITAT_NM
			, FN_GET_AREA_NAME(H.SIDO_CD) || ' ' ||
				FN_GET_AREA_NAME(H.SIGUNGU_CD) || ' ' || 
				FN_GET_AREA_NAME(H.DONG_CD)                     AS AREA_NM
			, H.ADDRESS
			, F.FILE_PATH 
		FROM TB_HABITAT H 
			LEFT JOIN TB_FILE F 
				ON H.FILE_GRP_ID = F.FILE_GRP_ID 
		<where>
			<if test="sido_cd != null and !sido_cd.equals('')">
				H.SIDO_CD = #{sido_cd}
			</if>
			<if test="sigungu_cd != null and !sigungu_cd.equals('')">
				H.SIGUNGU_CD = #{sigungu_cd}
			</if>
			<if test="dong_cd != null and !dong_cd.equals('')">
				H.DONG_CD = #{dong_cd}
			</if>
			<if test="habitat_cd != null and !habitat_cd.equals('')">
				H.HABITAT_CD = #{habitat_cd}
			</if>
			<if test="habitat_nm != null and !habitat_nm.equals('')">
				H.HABITAT_NM like '%'|| #{habitat_nm} ||'%'
			</if>
		</where>
		ORDER BY H.HABITAT_CD DESC
	</select>
	
</mapper>